#------------------------------------------------------
# Environment template for Development Environment
# Target file: .env.prd
#------------------------------------------------------

SPRING_PROFILES_ACTIVE=dev

SUPABASE_DB_PASSWORD=
SUPABASE_AUTH_URL=