cors:
  allowed-origins: http://localhost:4200

spring:
  datasource:
    url: jdbc:postgresql://localhost:54322/postgres
    username: postgres
    password: postgres

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://127.0.0.1:54321/auth/v1

logging:
  level:
    ch.time2log: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE