version: 2
updates:
  # Frontend
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5

  # Backend
  - package-ecosystem: "maven"
    directory: "/backend"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5

  # Dockerfiles
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"