name: Build PRD

on:
  push:
    tags: [ "v*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build backend
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: false

      - name: Build frontend
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: false
